@font-face {
  font-family: NunitoExtraBold;
  src: url('./Nunito-ExtraBold.ttf');
}

@font-face {
  font-family: NunitoBold;
  src: url('./Nunito-Bold.ttf');
}
@font-face {
  font-family: NunitoSemibold;
  src: url('./Nunito-SemiBold.ttf');
}
@font-face {
  font-family: NunitoRegular;
  src: url('./Nunito-Regular.ttf');
}

@font-face {
  font-family: NunitoLight;
  src: url('./Nunito-Light.ttf');
}
@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('./YouSheBiaoTiHei.ttf');
}

@font-face {
  font-family: MetroDF;
  src: url('./MetroDF.ttf');
}

@font-face {
  font-family: DIN;
  src: url('./DIN.Otf');
}
