.ff4 {
  font-family: NunitoExtraBold;
  font-weight: 900;
}
.ff3 {
  font-family: NunitoBold;
  font-weight: 700;
}
.ff2 {
  font-family: NunitoSemibold;
  font-weight: 600;
}
.ff1 {
  font-family: NunitoRegular;
  font-weight: 400;
}
.ff0 {
  font-family: NunitoLight;
  font-weight: 300;
}
